/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    min-height: 100%;
    background: #222;
}

html, body 
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
  

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#container
{
    

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    padding: 10px 0;   
}

#square 
{
    position: relative;
    width: 80vmin;
    height: 80vmin;
    border: solid #ffd600 2vmin;
    background: #d18e00;
    box-sizing: border-box;
    border-radius: 8%;
  }
  
#square:after 
{
    content: "";
    display: block;
    padding-bottom: 100%;
}

#content 
{
    position: absolute;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 8% 60% auto 18% 8%;
    grid-template-rows: 8% 30% auto 18% 18% 18% 8%;

    /* grid-column-gap: 8px;
    grid-row-gap: 8px;     */
}
  
  

#infoCard
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;     
    
    font-family: 'Roboto', sans-serif;

    /* background: #5d491f; */

    padding: 0 2vmin;
}

#optionsCard
{
    grid-column: 2;
    grid-row: 7;
    
}


#controls
{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

    font-family: 'Roboto', sans-serif;
}

.currentTemp, .setTemp
{
	font-size: 8vmin;
	margin: 0;
    padding: 0;
    text-align: left;
}

.currentTemp
{
    color: #9e6c00;
}

.setTemp
{
    color: #000000;
}

.heaterOff
{
	font-size: 18vmin;
	margin: 0;
	padding: 0;
    text-align: left;
    color: #000000;
}

.dateInfo
{
    text-align: center;
    display: none;
}

#currentTempValue, #setTempValue
{
    font-size: 24vmin;
    font-weight: 900;
}


.currentTimestamp, .formatToggle
{
    font-size: 2vmin;
    font-weight: 400;
    text-align: left;
    padding: 0;
    margin: 0;
    color: #5d491f;
}

#optionsCard a, #optionsCard a:visited
{
    color: #ffd600;
}

#optionsCard a, #optionsCard a:hover
{
    color: #ffae00;
}

#currentTimestamp
{
    display: none;
}


#loadingIndicator
{
	font-size: 0.2em;
}


#controls
{
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 64px 64px 64px;    

    justify-items: stretch;
    align-items: stretch;
    place-content: center;
    align-content: stretch;

}

#controls a
{
    
    font-size: 3em;
    background-color: #eee;
    text-decoration: none;
    color: #000;
    text-align: center;    
    line-height: 64px;
    border-radius: 16px;
} 

.controlButton span
{
    display: none;
}

#increaseTemp
{
    background-image: url("../img/controls_up.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 4;
    grid-row: 4;
    
}


#decreaseTemp
{
    background-image: url("../img/controls_down.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;   
    grid-column: 4;
    grid-row: 5;

}

#togglePower
{
    background-image: url("../img/controls_power.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
    grid-column: 4;
    grid-row: 6;
}

#controls a:hover
{
    background-color: #ccc;
}

#controls a:active
{
    background-color: #bbb;
}








/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}